In [2]:
%matplotlib inline

In [3]:
import geopandas, geoplot
import pandas as pd

from pandas import DataFrame, Series

from shapely.geometry import Point
import matplotlib.pyplot as plt

In [4]:
itineraries = pd.read_csv('itineraries.csv', names=['trip_id', 'ind_id', 'loc_id'])

In [5]:
itineraries.head()

   trip_id  ind_id  loc_id
0        1       6     4.0
1        2       7     6.0
2        3       7     3.0
3        4      13     3.0
4        5      12     3.0

In [6]:
coords = pd.read_csv('coord.csv', names = ['att_id', 'loc_id', 'loc_name', 'lat', 'long', 'long_name'])

In [7]:
coords.head()

   att_id  loc_id  loc_name        lat       long         long_name
0    9000       1     Hisar  68.538100  38.526400  ���i��__�r
Hisor
1    9001       3   Bukhara  64.413150  39.776910   Bukh_�ra (city)
2    9002       9  Tashkent  69.216667  41.266667          Tashkent
3    9003      61   Bakharz  60.302222  34.837500          B_�kharz
4    9004      62     Khiva  60.366667  41.383333            Kh_�va

In [8]:
merge = pd.merge(itineraries, coords, left_on="loc_id", right_on="loc_id")

In [9]:
merge.sample(5)

,trip_id,ind_id,loc_id,att_id,loc_name,lat,long,long_name
774,271,343,28.0,259,Qarshi,65.800000,38.866667,Qarsh_� Nasaf Nakhshab
1118,1637,1022,106.0,233,Delhi,77.230000,28.610000,Delhi
386,1004,854,3.0,9001,Bukhara,64.413150,39.776910,Bukh_�ra (city)
670,735,741,18.0,339,Namangan,71.668333,41.001111,Namangan
1089,1617,1010,78.0,279,Mashhad,59.600000,36.300000,Mashhad

This part from [Geopandas walkthrough](http://geopandas.org/gallery/create_geopandas_from_pandas.html#sphx-glr-gallery-create-geopandas-from-pandas-py):

In [10]:
merge['coordinates'] = list(zip(merge.lat, merge.long))

In [16]:
merge['coordinates'] = merge['coordinates'].apply(Point)

In [12]:
merge.head()

,trip_id,ind_id,loc_id,att_id,loc_name,lat,long,long_name,coordinates
0,2,7,6.0,254,Khoqand,70.9425,40.528611,Khoqand (city) Kokand,POINT (70.9425 40.528611)
1,36,13,6.0,254,Khoqand,70.9425,40.528611,Khoqand (city) Kokand,POINT (70.9425 40.528611)
2,48,37,6.0,254,Khoqand,70.9425,40.528611,Khoqand (city) Kokand,POINT (70.9425 40.528611)
3,49,38,6.0,254,Khoqand,70.9425,40.528611,Khoqand (city) Kokand,POINT (70.9425 40.528611)
4,62,51,6.0,254,Khoqand,70.9425,40.528611,Khoqand (city) Kokand,POINT (70.9425 40.528611)

In [13]:
gdf = geopandas.GeoDataFrame(merge, geometry='coordinates')

In [14]:
print(gdf.head())

   trip_id  ind_id  loc_id  att_id loc_name      lat       long  \
0        2       7     6.0     254  Khoqand  70.9425  40.528611
1       36      13     6.0     254  Khoqand  70.9425  40.528611
2       48      37     6.0     254  Khoqand  70.9425  40.528611
3       49      38     6.0     254  Khoqand  70.9425  40.528611
4       62      51     6.0     254  Khoqand  70.9425  40.528611

               long_name                coordinates
0  Khoqand (city)Kokand  POINT (70.9425 40.528611)
1  Khoqand (city)Kokand  POINT (70.9425 40.528611)
2  Khoqand (city)Kokand  POINT (70.9425 40.528611)
3  Khoqand (city)Kokand  POINT (70.9425 40.528611)
4  Khoqand (city)Kokand  POINT (70.9425 40.528611)

In [15]:
world = geopandas.read_file("../gulshani_gazetteer_project/vector-files/bukhar_protectorate.json.geojson")

# We restrict to South America.
ax = world.plot(
    color='white', edgecolor='black')

# We can now plot our GeoDataFrame.
gdf.plot(ax=ax, color='blue')

plt.show()

DriverError: ../gulshani_gazetteer_project/vector-files/bukhar_protectorate.json.geojson: No such file or directory

In [ ]:
df_bukh = geopandas.read_file("../gulshani_gazetteer_project/vector-files/bukhar_protectorate.json.geojson")
df_bukh.plot(cmap='OrRd')