In [117]:
import numpy as np
import pandas as pd

from pandas import DataFrame, Series

In [118]:
# Set some pandas options
pd.set_option('display.notebook_repr_html', True)
pd.set_option('display.max_columns', 1000)
pd.set_option('display.max_rows', 1000)

### Reading in Data

In [119]:
coords = pd.read_csv('data/all_coordinates_loc-names.csv', names=['Loc_ID', \
                                                'Lat_Y', 'Long_X', 'Nickname', 'Fullname', 'Entry_UID'])

In [120]:
population = pd.read_csv('data/gul_population.csv', names=['Loc_ID', 'Type', 'Value'])

In [121]:
mosques = pd.read_csv('data/gul_mosques.csv', names=['Loc_ID', 'Type', 'Value', 'Entry_UID'])

In [136]:
sufi = pd.read_csv('data/gul_sufi.csv', names=['Loc_ID', 'Type', 'Value', 'Entry_UID'])

In [133]:
sufi.head()

   Loc_ID                   Type  Value  Entry_UID
0       3  sufi_lodges_contained     17         42
1      54  sufi_lodges_contained     17         50
2      55  sufi_lodges_contained    418         52
3      47  sufi_lodges_contained      8        102
4     308  sufi_lodges_contained      1        107

### Merging Data

In [137]:
pop_merge = pd.merge(population, coords, on = "Loc_ID")
mosques_merge = pd.merge(mosques, coords, on = "Loc_ID")
sufi_merge = pd.merge(sufi, coords, on = "Loc_ID")

In [138]:
sufi_merge

,Loc_ID,Type,Value,Entry_UID_x,Lat_Y,Long_X,Nickname,Fullname,Entry_UID_y
0,3,sufi_lodges_contained,17,42,39.776910,64.413150,Bukhara,Bukhāra (city),9001
1,47,sufi_lodges_contained,8,102,39.502778,63.855556,Qarakol,Qarākūl Qorako‘l,313
2,48,sufi_lodges_contained,12,3301,40.033333,64.516667,Wabkand,Wābkand Kāmāt,314
3,49,sufi_lodges_contained,8,3311,40.050000,64.533330,Pirmast,Pīrmast,1738
4,51,sufi_lodges_contained,12,3317,39.933333,64.383333,Ramitan,Rāmītan Sāmjan,1740
5,50,sufi_lodges_contained,9,3321,40.116667,64.500000,Shafirkam,Shāfirkām Wardānzah Shāpūrkām,1739
6,409,sufi_lodges_contained,12,3326,40.084444,65.379167,Karmina,Karmina (Province),3327

### Exporting Data

In [125]:
#Multiple full-names on separate lines gets messed up in export.
del pop_merge['Fullname']
del mosques_merge['Fullname']
del sufi_merge['Fullname']

In [139]:
pop_merge.to_csv("exported_data/gulshani_population.csv")
mosques_merge.to_csv("exported_data/gulshani_mosques.csv")
sufi_merge.to_csv("exported_data/gulshani_sufi.csv")