In [1]:
import numpy as np
import pandas as pd

from pandas import DataFrame, Series

In [2]:
# Set some pandas options
pd.set_option('display.notebook_repr_html', True)
pd.set_option('display.max_columns', 1000)
pd.set_option('display.max_rows', 1000)

### Reading in Data

In [4]:
coords = pd.read_csv('data/all_coordinates.csv', names=['Loc_ID', 'Nickname', \
                                                'Lat_Y', 'Long_X', 'Fullname'])

In [49]:
coords.head()

   Loc_ID  Nickname      Lat_Y     Long_X        Fullname
0    9000     Hisar  38.526400  68.538100     Ḥiṣār
Hisor
1    9001   Bukhara  39.776910  64.413150  Bukhāra (city)
2    9002  Tashkent  41.266667  69.216667        Tashkent
3    9003   Bakharz  34.837500  60.302222         Bākharz
4    9004     Khiva  41.383333  60.366667           Khīva

In [13]:
population = pd.read_csv('data/gul_population.csv', names=['Loc_ID', 'Type', 'Value'])

In [50]:
population.head()

   Loc_ID        Type   Value
0    3000  population  180000
1    3001  population  150000
2    3002  population   60000
3    3003  population   80000
4    4006  population   30200

In [55]:
pop_merge = pd.merge(population, coords, on = "Loc_ID")

In [56]:
pop_merge

Empty DataFrame
Columns: [Loc_ID, Type, Value, Nickname, Lat_Y, Long_X, Fullname]
Index: []

Loc_ID     int64
Type      object
Value      int64
dtype: object